<footer class="site-footer" role="contentinfo">
  <div class="inner">
    <div class="supplementary" role="complementary">
      <div class="grid">
        <div class="one-fourth"></div>
      </div><!-- .grid -->
    </div><!-- .supplementary --> 
    <div class="site-info">
      <p class="copyright">
        <a href="{{ site.baseurl }}/impressum.html">Impressum</a>
        <span class="sep"> | </span>
          Christian Blank
      </p>
      <a href="#" id="back-to-top" title="Back To Top"><i aria-hidden="true" class="icon-chevron-up"></i></a>
    </div><!-- .site-info -->
  </div><!-- .inner -->
</footer>
